:root {
    --primary-color: #000066;
    --secondary-color: #E6D0DE;
    --thirdly-color: #FF8000;
}

body {
    margin: 0;
    font-family: "Oxygen - Regular", serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--primary-color);
    background-image: linear-gradient(to bottom, var(--primary-color), var(--secondary-color));
    color: var(--secondary-color);
}

@font-face {
    font-family: 'Oxygen - Regular';
    src: local('Oxygen - Regular'),
    url(../fonts/OxygenRegular/Oxygen-Regular.ttf)
    format('truetype');
}

@font-face {
    font-family: 'Oleo Script';
    src: local('Oleo Script'),
    url(../fonts/OleoScript/OleoScript-Regular.ttf)
    format('truetype');
}

.navbar__container {
    background-color: var(--primary-color);
    background-image: linear-gradient(#000066, #E6D0DE );
    max-width: 100%;
    text-align: center;
    border: 1px solid var(--secondary-color);
}

.navbar__logo {
    max-width: 100%;
}

.horizontal__line {
    max-width: 100%;
    color: var(--secondary-color);
}

.main__grid__container {
    margin: 5% 0 5% 0;
    max-width: 100%;
    text-align: center;
}

.main__heading {
    text-align: center;
}

/* Form/Input CSS */
.destination,
.distance,
.gas__consumption,
.gas__price {
    text-align: justify;
    margin-left: 12.5%;
}

.error__message {
    color: red;
    margin-right: 46%;
}

.destination__option__dropdown {
    cursor: pointer;
    width: 72.8%;
    font-size: 16px;
    font-weight: bold;
    border: 2px solid var(--secondary-color);
    color: var(--secondary-color);
    background-color: var(--primary-color);
    padding: 1%;
}

.destination__option__dropdown:hover,
.destination__option__dropdown:focus {
    color: var(--secondary-color);
    background-color: var(--primary-color);
}

.option {
    cursor: pointer;
}

.input__item__one,
.input__item__two,
.input__item__three {
    cursor: pointer;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
    padding: 1%;
    font-size: 16px;
    font-weight: bold;
    width: 72.8%;
}

.btn__container {
    padding-top: 20px;
    text-align: center;
    margin-left: 12.5%
}

.btn__clear {
    margin-right: 14.3%;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    padding: 10px;
    font-size: 16px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bolder;
    text-transform: uppercase;
}

.btn__clear:hover, 
.btn__clear:focus {
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

.total__cost__label {
    word-spacing: 5px;
}

.calculation__result {
    color: var(--primary-color);
    font-weight: 1000px;
    font-size: 20px;
}

.result__suggestion {
    font-family: 'Oleo Script', serif;
    font-size: 20px;
    color: var(--thirdly-color);
    width: 74.8%;
    margin: 0;
    text-align: justify;
}

.paragraph__section {
    width: 74.8%;
    line-height: 30px;
    text-align: justify;
    margin-left: 12.5%
}

.factor__list__container {
    width: 74.8%;
    text-align: left;
    margin-left: 12.5%
}

.factor__list__heading {
    font-size: 16px;
}

.factor__list__links {
    list-style: none;
    padding: 0;
}

.links__item__a {
    text-decoration: underline;
    color: var(--primary-color);
    line-height: 40px;
    font-size: 15px;
}

footer {
    background-color: var(--primary-color);
    background-image: linear-gradient(#E6D0DE, #000066);
    max-width: 100%;
    text-align: center;
    border: 1px solid var(--secondary-color);
}

.footer__text {
    color: var(--primary-color);
    font-size: 10px;
}

.name {
    color: #CC6600;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
}

.social__media {
    color: var(--secondary-color);
    font-size: 16px;
}

.youtube,
.facebook,
.instagram,
.twitter,
.snapchat,
.linkedin,
.tiktok {
    padding-right: 10px;
    font-size: 155%;
}

.youtube {
    color: red;
}

.facebook {
    color: #0404d1;
}

.instagram {
    color: #FF0080;
}

.twitter {
    color: #0066CC;
}

.snapchat {
    color: yellow;
}

.linkedin {
    color: #0000CC;
}

.tiktok {
    color: #1A1A1A;
}